@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

input {
  padding: 5px;
  width: 180px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  align-items: center;
}

body{
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  color: white;
  font-family: "Odibee Sans", cursive;
  background-color: rgb(12, 12, 12);
}

body::after {
  content: "";
 background-image: url(/img/marvel_birthday.jpg) ;
  width: 100vw;
  height: 100vh;

  top:0;
  left:0;
  background-attachment: fixed;
  position:absolute;

  opacity: 0.30;
  z-index: -1;
}

header {
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.5em;
  background-color: black;
  margin-bottom: 10%;
}

#wrapper {
  display: grid;
}


#main-wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

 #heroName {
  grid-column-start: 3;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

#wrapper1 {
}
#appearance {
  width: 80%;
  font-size: 1.5em;
  border: 1px solid black;
  padding: 5%;
  grid-row-start: 1;
}

#aliases {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    
}

#alterEgos {
    margin:  10px;
}

h2 {
    font-size: 1.5em;
    margin-top: 8px;
    margin-bottom: 10px;
}

span {
    margin-right: 10px;
}

#biography {
  width: 80%;
  font-size: 1.5em;
  border: 1px solid black;
  padding: 5%;
  grid-column-start: 3;
  margin: 10%;
}
#connections {
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.4em;
  border: 1px solid black;
  padding: 5%;
  margin: 10%;
}

#powerstats {
  width: 80%;
  font-size: 1.5em;
  border: 1px solid black;
  padding: 5%;
  margin: 10%;
}

h2 {
  filter: none;
}

#work {
  width: 80%;
  font-size: 1.5em;
  border: 1px solid black;
  padding: 5%;
  margin: 10%;
}

#target {
  margin-top: 30px;
}

button {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: rgb(224, 223, 223);
}
