@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

input {
  padding: 5px;
  width: 180px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  align-items: center;
}

#image {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

img {
  border-radius: 15%;
  width: 150px;
}

body{
  color:wheat;
  font-family: "Odibee Sans", cursive;
  background-image: url('/img/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header {
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.5em;
  background-color: black;
  margin-bottom: 5%;
}

#eyecolor {
  display: none;
}

#gender {
  display: none;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}


 #heroName {
  grid-column-start: 2;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

#wrapper1 {
  padding: 5%;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5,1fr);
  gap: 15px;
}
#appearance {
  width: 100%;
  font-size: 1.2em;
  grid-column-start: 2;
}

#haircolor {
  display: none;
}

#Aliases {
  display: none;
   width: 100%;   
}

#alterEgos {
  display: none;
    margin:  10px;
}

h2 {
    font-size: 1.5em;
    margin-top: 8px;
    margin-bottom: 10px;
}

span {
    margin-right: 10px;
}

#race {
  display: none;
}

#height {
  display: none;
}
#weight{
  display: none;
}
#firstappearance {
  display: none;
}
#fullname {
  display: none;
}

#placeofbirth {
  display: none;
}

#publisher {
  display: none;
}

#Relatives {
  display: none;
}

#affiliation {
  display: none;
}

#combat {
  display: none;
}

#durablitity {
  display: none;
}

#intelligence {
  display: none;
}

#power {
  display: none;
}

#speed {
  display: none;
}

#strenght {
  display: none;
}

#base {
  display: none;
}

#occupation {
  display: none;
}

#aligment {
  display: none;
}
#biography {
  width: 100%;
  font-size: 1.2em;
}
#connections {
  width: 100%;
  padding-bottom: 5px;
  font-size: 1.2em;
}

#powerstats {
  width: 100%;
  position:relative;  
  font-size: 1.2em;
  grid-column-start: 1;
  grid-row-start: 1;
}
h2 {
  border-radius: 15px;
  margin-top: 0px;
  filter: none;
  font-size: 1.2em;
  height: 50px;
  color:black;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  margin-bottom: 10px;
}

h2:hover {
  background: darkgreen;
}

#work {
  width: 100%;
  font-size: 1.5em;
  grid-column-start: 5;
}

#target {
  margin-top: 30px;
}

button {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: rgb(224, 223, 223);
}
